@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Bold ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold ☞"), url("Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Heavy ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Heavy ☞"), url("Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Light ☞"), url("Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Medium ☞"), url("Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Regular ☞"), url("Gilroy-Regular.woff") format("woff");
}

body {
  font-family: "Gilroy-Regular ☞";
}

nav .nav-list {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

@media only screen and (max-width: 991px) {
  nav .nav-list {
    padding: 0;
  }
}

nav .nav-list .nav-link {
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

nav .nav-list .nav-link:hover {
  color: #2cb855;
}

nav .nav-list .start-btn {
  background-color: #2cb855;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 20px;
  color: #fff;
}

nav .nav-list .start-btn:hover {
  background-color: #fff;
  border: 2px solid #2cb855;
  color: #2cb855;
}

.mt-medium-padding {
  padding: 60px 0;
}

.mt-banner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

.mt-banner-title h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}

.mt-banner-title h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  color: #333333;
}

.mt-banner-title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 8vw;
  color: #2cb855;
}

.mt-banner-title p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #727272;
}

.mt-banner-img img {
  width: 100%;
  height: 100%;
  margin-right: -20px;
}

.mt-service-section h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #333333;
}

.mt-service-section p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #727272;
}

.mt-service-contents .mt-service {
  width: 100px;
  height: 60px;
  border-radius: 20px;
  background: rgba(234, 67, 53, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

.mt-service-contents .mt-service .fas {
  font-size: 25px;
  color: #EA4335;
}

.mt-service-contents .mt-service img {
  width: 25px;
  height: 25px;
}

.mt-service-contents .use {
  background: rgba(66, 133, 244, 0.2);
}

.mt-service-contents .recycle {
  background: rgba(251, 188, 5, 0.2);
}

.mt-service-contents .learn {
  width: 80px;
  background-color: transparent;
  margin-right: 0;
}

.mt-service-contents .mt-services h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}

.mt-service-contents a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #4FD255;
  text-decoration: none;
}

footer {
  background: #121212;
}
/*# sourceMappingURL=style.css.map */